# Object files
obj
*.o
*.obj

# Precompiled Headers
*.pch

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
bin
*.exe
*.out

# Code Blocks helper files
*.depend
*.layout

# Windows Registry scripts
*.reg

# Notepad++ backup directory
nppBackup

# Doxygen configuration file
Doxyfile
